*
!/.gitignore
!/app
!/app/*/
!/app/code/**
!/app/design/**
!/app/etc/config.php
!/app/i18n/**
!/auth.json
!/composer.json
!/composer.lock
!/pub/media/rootways/megamenu/menu_default.css
!/pub/PDP_features_quality_import.php
